.basic-button {
  height:75px;
  width:75px;
}

#red {
  background-image: url(../images/red.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#green {
  background-image: url(../images/green.png);
  background-size: 75px;
  background-repeat: no-repeat;
}


#blue {
  background-image: url(../images/blue.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#yellow {
  background-image: url(../images/yellow.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#lime {
  background-image: url(../images/lime.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#white {
  background-image: url(../images/white.png);
  background-size: 75px;
  background-repeat: no-repeat;
}


#black {
  background-image: url(../images/black.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#purple {
  background-image: url(../images/purple.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#teal {
  background-image: url(../images/teal.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#olive {
  background-image: url(../images/olive.png);
  background-size: 75px;
  background-repeat: no-repeat;
}


#gray {
  background-image: url(../images/gray.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#silver {
  background-image: url(../images/silver.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#navy {
  background-image: url(../images/navy.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#maroon {
  background-image: url(../images/maroon.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#fuchsia {
  background-image: url(../images/fuchsia.png);
  background-size: 75px;
  background-repeat: no-repeat;
}

#aqua {
  background-image: url(../images/aqua.png);
  background-size: 75px;
  background-repeat: no-repeat;
}